package ${package}.client;

import com.github.pagehelper.PageInfo;
import com.dalan.doblue.common.ResultInfo;
import io.swagger.annotations.Api;
import org.springframework.web.bind.annotation.*;
import org.springframework.cloud.openfeign.FeignClient;

import ${package}.dto.${classname}.${className}DTO;
import ${package}.dto.${classname}.${className}QueryDTO;

/**
 * Copyright (c) 2018-present, Sinovatio Corporation.
 * All rights reserved.
 * <p/>Created by ${author} on ${datetime}.
 *
 * @author ${author}
 * @since ${datetime}
 */
@FeignClient(value = "${clientName}", path = "/api/v3/${classname}")
@Api(value = "${comments}接口", description = "${comments}相关服务")
public interface ${className}Client {
    /**
     * 查询${comments}详情.
     *
     * @param id 主键
     * @return 详情
     */
    @GetMapping("/{id}")
    ResultInfo get(@PathVariable(value = "id") Integer id);

    /**
     * 查询${comments}列表/分页.
     *
     * @param ${classname}QueryDTO 查询参数
     * @return 分页/列表
     */
    @GetMapping
    ResultInfo getList(${className}QueryDTO ${classname}QueryDTO);

    /**
     * 新增${comments}.
     *
     * @param ${classname}DTO 新增数据
     * @return 成功返回数据/失败返回异常
     */
    @PostMapping
    ResultInfo add(@RequestBody ${className}DTO ${classname}DTO);

    /**
     * 修改${comments}.
     *
     * @param ${classname}DTO 修改数据
     * @return 成功返回数据/失败返回异常
     */
    @PutMapping("/{id}")
    ResultInfo update(@PathVariable(value = "id") Integer id,
                                     @RequestBody ${className}DTO ${classname}DTO);

}
